{% extends 'admin/layout.html' %}
{% block css%}
{% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            视频管理
            <!--            <small>控制面板</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>业余生活管理</a></li>
            <li class="active"> 视频管理</li>
        </ol>
    </section>
    <section class="col-lg-6 connectedSortable">
        <div class="row">

        </div>
    </section>
</div>
{% endblock %}
{% block js %}
<script>
 $(document).ready(function(){
  $('#amateur_life').addClass('active');
 $('#video_manage_amateur').addClass('active');
});
</script>
{% endblock %}